## Enoncé :
À partir des datasets `population_communes.csv` et `surface_departements.csv`, créer un nouveau dataset qui contient une ligne par département, avec ces colonnes:

- la somme des "Population municipale" du département
- la somme des "Population totale" du département (pour l'explication de la distinction entre "Population municipale" et "Population totale", voir: https://www.insee.fr/fr/metadonnees/definition/c1270)
- la part (en pourcentage) de la population municipale par rapport à la population totale
- la part (en pourcentage) de la population (municipale) du département au sein de sa région
- la densité de la population (municipale) en nb d'habitants / km2

(Le dataset final devrait ressembler à `result-exo-cc.csv`)

Sites intéressants pour cet exo : 
* https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/
* https://www.datacamp.com/community/tutorials/joining-dataframes-pandas

In [3]:
import pandas as pd

In [28]:
df = pd.read_csv('population_communes.csv')

In [30]:
df

,Code département,Code canton,Code arrondissement,Code région,Nom de la commune,Code commune,Nom de la région,variable,value
0,64,27.0,3,75,Aast,1,Nouvelle-Aquitaine,Population totale,184
1,64,27.0,3,75,Aast,1,Nouvelle-Aquitaine,Population municipale,177
2,55,10.0,2,44,Abainville,1,Grand Est,Population totale,310
3,55,10.0,2,44,Abainville,1,Grand Est,Population municipale,305
4,60,11.0,1,32,Abancourt,1,Hauts-de-France,Population totale,658
...,...,...,...,...,...,...,...,...,...
70759,62,38.0,1,32,Œuf-en-Ternois,633,Hauts-de-France,Population municipale,251
70760,51,6.0,2,44,Œuilly,410,Grand Est,Population municipale,635
70761,02,6.0,2,32,Œuilly,565,Hauts-de-France,Population totale,292
70762,51,6.0,2,44,Œuilly,410,Grand Est,Population totale,645
70763,02,6.0,2,32,Œuilly,565,Hauts-de-France,Population municipale,290

In [31]:
surface = pd.read_csv('surface_departements.csv')

In [32]:
surface

    code_insee               nom  surf_km2
0          974        La Réunion    2505.0
1           11              Aude    6343.0
2           43       Haute-Loire    5003.0
3           13  Bouches-du-Rhône    5247.0
4           47    Lot-et-Garonne    5385.0
..         ...               ...       ...
96          56          Morbihan    6870.0
97          25             Doubs    5256.0
98          39              Jura    5049.0
99          07           Ardèche    5566.0
100         30              Gard    5875.0

[101 rows x 3 columns]

In [35]:
df = df.groupby(['Code région', 'Code département', 'variable', 'value']).sum().reset_index(['Code région', 'Code département', 'variable', 'value'])
df

,Code région,Code département,variable,value,Code canton,Code arrondissement,Code commune
0,1,971,Population municipale,1053,20.0,1,130
1,1,971,Population municipale,1465,16.0,2,110
2,1,971,Population municipale,1566,20.0,1,131
3,1,971,Population municipale,1854,20.0,1,133
4,1,971,Population municipale,2472,10.0,2,126
...,...,...,...,...,...,...,...
58628,94,2B,Population totale,5808,4.0,2,120
58629,94,2B,Population totale,7515,11.0,3,96
58630,94,2B,Population totale,8077,5.0,2,37
58631,94,2B,Population totale,8908,6.0,2,42
58632,94,2B,Population totale,45596,99.0,2,33